.errorlist li{
    color:#cc0033;
    float:left;
    clear:both;
    /*padding-left:10px;*/
}

.agree .errorlist{
    float:none;
}

.agree .errorlist li{
    color:#cc0033;
}

.agree label{
    display: inline;
}


