#menu-bar {
  /*margin: 20px 20px 20px 20px;*/
  width: 100%;
  padding: 43px 10px 10px 10px;
  background-color: rgba(255, 209, 51, 0.9);
  position: fixed;
  top: 0;
  z-index: 200;
}

.left-menu {
  position: absolute;
  left: 10px;
  bottom: 10px;
  /*padding: 0px 0px 0px 0px;*/
}

.left-menu .logo {
  color: black;
  font-style: bold;
  font-size: 1.4em;
  padding: 4px 8px 4px 8px ;
  border: 2px solid black;
}

.right-menu {
  position: absolute;
  right: 10px;
  bottom: 8px;
}

.right-menu span {
  /*font-style: bold;*/
  /*font-weight: bold;*/
  /*color: white;*/
}

.container-1 {
  background-color: black;
  background: url('../images/index_ver4_1.jpg') 50% 0 no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  min-height: 100vh;
  position: relative;
}

.vertical-center-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: table;
}

.vertical-center-content {
  position: absolute;
  display: table-cell;
  vertical-align: middle; 
  width: 100vw;
  top: 20vw;
}

.headcopy {
  /*padding-top: 240px;*/
  font-weight: bolder;
  font-size: 2em;
  text-align: center;
  color: white;
}

.subcopy {
  padding-top: 0px;
  /*font-weight: bold;*/
  font-size: 1.5em;
  text-align: center;
  color: white;
  margin-bottom: 20px;
}

.logo {
  width: 160px;
  margin: auto;
  padding: 4px 8px 4px 8px ;
  border: 0.1em solid white;
  text-align: center;
  font-size: 2em;
  font-style: bold;
  color: white;
}

.container-2 {
  min-height: 100vh;
  position: relative;
  background-color: rgba(255, 209, 51, 0.7);
}

.left-half {
  width: 70%;
  float: left;
  display: table;
  position: absolute;
  height: 100vh;
  /*left: 10%;*/
  /*margin-right: -50%;*/
  /*transform: translate(-50%, -50%);*/
  /*padding: 10% 10px 20px 20px;*/
}

.left-content {
  /*float: right;*/
  max-height: 100vh;
  display: table-cell; 
  vertical-align: middle; 
}

.left-image {
  /*float: right;*/
  max-height: 90vh;
  max-width: 70vw;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.right-half {
  left: 65%;
  height: 100vh;
  position: absolute;
  width: 30%;
  float: left;
  display: table;
}

.container-2-right-text {
  /*margin-top: 40px;*/
  display: table-cell; 
  vertical-align: middle; 
  text-align: center; 
}

.container-3 {
  /*margin-top: 50px;*/
  /*margin-bottom: 50px;*/
  /*padding-top: 60px;*/
  /*padding-bottom: 40px;*/
  /*background-color: rgba(255, 209, 51, 0.7);*/
  min-height: 100vh;
}

.box {
  margin: auto;
  width: 280px;
  padding-top: 10px;
  border: 1px solid gray;
  background-color: rgba(255, 209, 51, 0.7);
}

.container-4 {
  padding-top: 10vh;
  padding-bottom: 10vh;
  min-height: 100vh;
  background-color: rgba(255, 209, 51, 0.7);
}

.container-5 {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 60px;
  padding-bottom: 40px;
  /*background-color: rgba(255, 209, 51, 0.7);*/
}

.header {
  padding-bottom: 1em;
}

h1 {
  font-size: 28px;
  color: #666;
}

h2 {
  font-size: 26px;
  color: #666;
}

h3 {
  font-size: 22px;
  color: #666;
}

h4 {
  font-size: 20px;
  color: #777;
}

h5 {
  font-size: 18px;
  color: #777;
}

p {
  font-size: 14px;
  color: #777;
}

