.danger {
    color: red;
    font-weight: bold;
}

#top {
    /*background: url('../images/prob.jpg') 50% 0 no-repeat fixed;*/
    background: url('../images/top.jpg') 50% 0 no-repeat fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 100vh;

}

#top-mobile {
    background: url('../images/top.jpg') 50% 0 no-repeat fixed;
    background-size: 100vh;
    min-height: 300px;
}


#home { 
    /*background: url('../images/comp_1.jpg') 50% 0 no-repeat fixed;*/
    background: url('../images/newspaper_2.png') 50% 0 no-repeat fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    min-height: 1000px;
    height: 1350px; 
    margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
}

#home article { 
    height: 650px; 
    position: absolute; 
    text-align: center; 
    top: 700px; 
    width: 100%; 
    background: rgba(200,200,200,0.95);
    /*-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);*/
    /*box-shadow: 0 0 50px rgba(0,0,0,0.8);*/
}
 
#about { 
    /*background: url('../images/comp_2.png') 50% 0 repeat fixed; min-height: 1000px;*/
    background: url('../images/comp_1.jpg') 50% 0 repeat fixed; min-height: 1000px;
    background-size: cover;
    height: 650px; 
    margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    /*-webkit-box-shadow: 0 0 50px rgba(0,0,0,0.8);*/
    /*box-shadow: 0 0 50px rgba(0,0,0,0.8);*/
}

#about article { 
    height: 500px; 
    position: absolute; 
    text-align: center; 
    top: 500px; 
    width: 100%; 
    background: rgba(200,200,200,0.95);
}

#about-mobile article { 
    text-align: center; 
}
#about-mobile article ul { 
    list-style: none;
}


.danger {
    padding-top: 50px;

}

section h2 {
    padding: 30px 0 5px 0;
    color: rgba(31,134,250,1);
}

section h1 {
    padding: 10px 0 0 0;
}

#about article ul { 
    background: #F5F5F5;
}

#about article img {
    padding: 30px 0 20px 0;
}
#about-mobile article img {
    padding: 30px 0 20px 0;
}

#about article ul { 
    list-style: none;
}

#about article li { 
    line-height: 2em;
}

#contact {
    background: url('../images/comp_2.png') 50% 50%;
    background-size: cover;
    height: 314px; 
    max-width: 1920px; 
    position: relative;
}

#function article {
    background: rgba(104,216,69,0.9);
}