{% load staticfiles %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %}애드체크{% endblock %}</title>

    {# Base Foundation CSS #}
    {% block foundation_css %}
    <link href="{% static "foundation/css/normalize.css" %}" rel="stylesheet"/>
    <link href="{% static "foundation/css/foundation.min.css" %}" rel="stylesheet"/>
    {% endblock foundation_css %}

    {% block react_js %}{% endblock react_js %}

    {% block foundation_modernizer %}
    <script src="{% static "foundation/js/vendor/modernizr.js" %}"></script>
    {% endblock foundation_modernizer %}

    {% block custom_css %}
    <link href="{% static 'css/custom.css' %}" rel="stylesheet">
    {% endblock custom_css %}
    {# <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}"> #}
    {# <meta name="google-site-verification" content="QipieMMUq3zLFqVSAnDNBRpFqs-OhVxGR6Laxn-Fed8" /> #}
</head>
<body>
    {% block top_bar %}
    <nav class="top-bar" data-topbar role="navigation">
        <ul class="title-area">
            <li class="name">
                <h1><a href="{% url 'home' %}">ADcheck</a></h1>
            </li>
             <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
             <li class="toggle-topbar menu-icon"><a href="#"><span>메뉴</span></a></li>
        </ul>
        <section class="top-bar-section">
            {% if request.user.is_authenticated %}
                <ul class="left">
                    <li {% if section == "dashboard" %}class="active"{% endif %}>
                        <a href="{% url "dashboard" %}">대시보드</a>
                    </li>
                    {% if request.user.profile.user_level == 'staff' or request.user.profile.user_level == 'reviewer' %}
                    <li {% if section == "items" %}class="active"{% endif %}>
                        <a href="{% url 'item:history' %}">심의 내역</a>
                    </li>
                    {% endif %}
                    {# <li {% if section == "money" %}class="active"{% endif %}> <a href="#">결제 내역</a> </li> #}
                </ul>
            {% endif %}
            <ul class="right">
                <li>
                {% if request.user.is_authenticated %}
                    {# {{ request.user }}님 안녕하세요. #}
                    <a href="{% url "logout" %}">로그아웃하기</a>
                {% else %}
                    <a href="{% url "login" %}">로그인하기</a>
                {% endif %}
                </li>
            </ul>
        </section>
    </nav>
    {% endblock top_bar %}
	{% block content %} {% endblock content %}
    {# Override if you need another version of jQuery #}
    {% block foundation_jquery %}
    <script src="{% static "foundation/js/vendor/jquery.js" %}"></script>
    {% endblock foundation_jquery %}
    {# Foundation JS #}
    {% block foundation_js %}
    <script src="{% static "foundation/js/foundation.min.js" %}"></script>
    {% endblock foundation_js %}
    {# Init Foundation #}
    {% block foundation_js_init %}
    <script>
        $(document).foundation();
    </script>
    {% endblock foundation_js_init %}
    {% block custom_js %} {% endblock custom_js %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-76606551-1', 'auto');
      ga('send', 'pageview');

    </script>
</body>
</html>
