{% extends 'base.html' %}
{% load staticfiles %}

{% block custom_css %}
<link href="{% static 'css/parallax.css' %}" rel="stylesheet"/>
{% endblock custom_css %}

{% block title %}애드체크{% endblock title %}

{# {% block top_bar %} #}
<!--
<div>
    <div class="columns">
        <div data-magellan-expedition="fixed">
            <dl class="sub-nav">
                <dd data-magellan-arrival="home"><a href="#home"><i class="fa fa-home"></i>AdCheck</a></dd>

                {# <dd><a href="#"><i class="fa fa-home fa-2x"></i></a></dd> #}
                <dd data-magellan-arrival="prob"><a href="#prob">문제점</a></dd>
                <dd data-magellan-arrival="solu"><a href="#solu">솔루션</a></dd>
                <dd data-magellan-arrival="valu"><a href="#valu">가치제공</a></dd>
                {% if not request.user.is_authenticated %}
                <dd><a href="{% url 'register_agree' %}"><i class="fa fa-pencil-square-o"></i> 회원가입</a></dd>
                <dd><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> 로그인</a></dd>
                {% endif %}
            </dl>
        </div>
    </div>
</div>
!-->
{# {% endblock top_bar %} #}

{% block content %}
{# 최상단 이미지 #}
<section id="top" class="show-for-large-up">
    <div class="row">
        <div class="small-12 columns">
            <h1 class="text-center">귀사의 광고, 안전한가요?</h1>
        </div>
    </div>
</section>
<section id="top-mobile" class="hide-for-large-up">
    <div class="row">
        <div class="small-12 columns">
            <h1 class="text-center">귀사의 광고, 안전한가요?</h1>
        </div>
    </div>
</section>

{# 첫번째 문구 섹션 #}
<section id="home" data-type="background" data-speed="8" class="show-for-large-up">
    <article>
        <div class="row">
            <div class="small-12 columns">
                <a name="prob"></a>
                <h2 data-magellan-destination="prob"><strong>애드체크는 <br>온라인 광고 리스크에 대한<br>합리적인 솔루션을 제공합니다.</strong></h2>
                <table>
                    <thead>
                        <tr>
                            <th width="20%" class="text-center"></th>
                            <th width="40%" class="text-center"><h3>Problem</h3></th>
                            <th width="40%" class="text-center"><h3>Solution</h3></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th class="text-center"><h4>신규 및 버티컬 통신판매업체</h4></th>
                            <td>
                                <ul>
                                    <li> 광고심의 업무 인력 부재에 따른 표시 · 광고 관련 법령 위반 리스크 </li>
                                    <li> 법 위반에 따른 규제기관 행정처분, 부정 언론보도 확산 및 브랜드 이미지 타격 </li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li> 광고심의 프로세스 및 어드민 시스템 컨설팅 </li>
                                    <li> 고객사 교육 및 내부인력 양성 지원 </li>
                                    <li> 광고심의 업무 대행 </li>
                                </ul>
                            </td>
                        </tr>
                        <tr>
                            <th class="text-center"><h4>대형 통신판매업체</h4></th>
                            <td>
                                <ul>
                                    <li> 대규모 인력 채용, 고용유지에 따른 직간접적 비용 문제 </li>
                                    <li> 일간/주간 신규 판매상품 숫자 편차에 따른 인력 운영 이슈 </li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li> 종합몰, 소셜커머스 등 대형 통신판매업체 광고심의 업무대행 아웃소싱 </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </article>
</section>

{# 작은 화면용 #}
<section class="hide-for-large-up">
    <article>
        <div class="row">
            <div class="small-12 columns">
                <a name="prob"></a>
                <h2 data-magellan-destination="prob" class="text-center"><strong>애드체크는 <br>온라인 광고 리스크에 대한<br>합리적인 솔루션을 제공합니다.</strong></h2>
                <hr>
                <h3 class="text-center">신규 및 버티컬 통신판매업체</h3>
                <table>
                    <thead>
                        <tr>
                            <th width="50%" class="text-center">Problem</th>
                            <th width="50%" class="text-center">Solution</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <ul>
                                    <li> 광고심의 업무 인력 부재에 따른 표시 · 광고 관련 법령 위반 리스크 </li>
                                    <li> 법 위반에 따른 규제기관 행정처분, 부정 언론보도 확산 및 브랜드 이미지 타격 </li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li> 광고심의 프로세스 및 어드민 시스템 컨설팅 </li>
                                    <li> 고객사 교육 및 내부인력 양성 지원 </li>
                                    <li> 광고심의 업무 대행 </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <h3 class="text-center">대형 통신판매업체</h3>
                <table>
                    <thead>
                        <tr>
                            <th width="50%" class="text-center">Problem</th>
                            <th width="50%" class="text-center">Solution</th>
                        </tr>
                    </thead>
                        <tr>
                            <td>
                                <ul>
                                    <li> 대규모 인력 채용, 고용유지에 따른 직간접적 비용 문제 </li>
                                    <li> 일간/주간 신규 판매상품 숫자 편차에 따른 인력 운영 이슈 </li>
                                </ul>
                            </td>
                            <td>
                                <ul>
                                    <li> 종합몰, 소셜커머스 등 대형 통신판매업체 광고심의 업무대행 아웃소싱 </li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <hr>
            </div>
        </div>
    </article>
</section>

{# 어비웃 PC섹션 #}
<section id="about" data-type="background" data-speed="10" class="show-for-large-up">
    <article>
        <div class="row">
            <div class="columns">
                <h2>애드체크의 장점</h2>
                <ul class="large-block-grid-3">
                    <li>
                        <img src="{% static 'images/value_1.png' %}">
                        <h3>정확성</h3>
                        <ul>
                            <li>표시 · 광고 규제 준수를 위한 리스크 진단</li>
                            <li>컨설팅 및 광고심의 업무 대행 서비스</li>
                        </ul>
                    </li>
                    <li>
                        <img src="{% static 'images/value_2.png' %}">
                        <h3>절약</h3>
                        <ul>
                            <li>대규모 인력채용, 고용유지 비용 절감</li>
                            <li>신속하고 정확한 광고심의 온디멘드 서비스</li>
                        </ul>
                    </li>
                    <li>
                        <img src="{% static 'images/value_3.png' %}">
                        <h3>경쟁력 향상</h3>
                        <ul>
                            <li>
                                고객사의 규제 대응 능력을 통한 리스크 관리 및 기업 경쟁력 향상 도모
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </article>
</section>

{# 어바웃 모바일 섹션 #}
<section id="about-mobile" class="hide-for-large-up">
    <article>
        <div class="row">
            <div class="columns">
                <h2>애드체크의 장점</h2>
                <ul class="small-block-grid-1">
                    <li class="panel">
                        <img src="{% static 'images/value_1.png' %}">
                        <h3>정확성</h3>
                        <ul>
                            <li>표시 · 광고 규제 준수를 위한 리스크 진단</li>
                            <li>컨설팅 및 광고심의 업무 대행 서비스</li>
                        </ul>
                    </li>
                    <li class="panel">
                        <img src="{% static 'images/value_2.png' %}">
                        <h3>절약</h3>
                        <ul>
                            <li>대규모 인력채용, 고용유지 비용 절감</li>
                            <li>신속하고 정확한 광고심의 온디멘드 서비스</li>
                        </ul>
                    </li>
                    <li class="panel">
                        <img src="{% static 'images/value_3.png' %}">
                        <h3>경쟁력 향상</h3>
                        <ul>
                            <li>
                                고객사의 규제 대응 능력을 통한 리스크 관리 및 기업 경쟁력 향상 도모
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </article>
</section>

<section id="contact">
</section>
<section id="function">
    <article>
        <div class="row">
            <div class="small12 columns">
                <h1 class="text-center">당신의 온라인 커머스 애드체크와 함께 성장합니다!</h1>
            </div>
        </div>
        <div class="row panel">
            <h3>메일링 리스트 가입하기</h3>
            <p>서비스 업데이트 소식, 광고 심의에 최신동향등을 알려드립니다.</p>
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup">
                <form action="//adcheck.us12.list-manage.com/subscribe/post?u=3e2cd957637e6f6cc7fd04217&amp;id=907b27d9b9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <div id="mce-responses">
                            <div id="mce-error-response" style="display:none"></div>
                            <div id="mce-success-response" style="display:none"></div>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_3e2cd957637e6f6cc7fd04217_907b27d9b9" tabindex="-1" value="">
                        </div>
                        <div class="small-12 medium-3 columns">
                            <label for="mce-FNAME">이름 </label>
                            <input type="text" value="" name="FNAME" id="mce-FNAME">
                        </div>
                        <div class="small-12 medium-9 columns">
                            <label for="mce-EMAIL">이메일 </label>
                            <input type="email" value="" name="EMAIL" id="mce-EMAIL">
                        </div>
                        <div class="small-12 columns">
                            <input type="submit" value="구독하기" name="subscribe" id="mc-embedded-subscribe" class="button">
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <div class="small-12 columns">
                <a href="{% url 'register_agree' %}" class="button expand">회원가입하기</a><br>
                <a href="{% url 'login' %}" class="button expand">로그인하기</a><br>
            </div>
        </div>

        </div>
    </article>
</section>

{% endblock content %}

{% block custom_js %}
<script type="text/javascript">
    $(document).ready(function(){
        $('section[data-type="background"]').each(function(){
            var $bgobj = $(this); // assigning the object
            $(window).scroll(function() {
                // alert('hello');
                var yPos = -($(window).scrollTop() / $bgobj.data('speed'));
                var coords = '50% '+ yPos + 'px';
                $bgobj.css({ backgroundPosition: coords });
            });
        }); 
    });
</script>
{% endblock custom_js %}

