{% extends 'base.html' %}

{% block custom_css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{# <link rel="stylesheet" type="text/css" href="{% static 'css/parallax.css' %}"> #}
{% endblock custom_css %}

{% block title %}ADcheck{% endblock title %}

{% block top_bar %}
<div>
    <div class="columns">
        <div data-magellan-expedition="fixed">
            <dl class="sub-nav">
                <dd data-magellan-arrival="home"><a href="#home"><i class="fa fa-home"></i>AdCheck</a></dd>

                {# <dd><a href="#"><i class="fa fa-home fa-2x"></i></a></dd> #}
                <dd data-magellan-arrival="prob"><a href="#prob">문제점</a></dd>
                <dd data-magellan-arrival="solu"><a href="#solu">솔루션</a></dd>
                <dd data-magellan-arrival="valu"><a href="#valu">가치제공</a></dd>
                {% if not request.user.is_authenticated %}
                <dd><a href="{% url 'register_agree' %}"><i class="fa fa-pencil-square-o"></i> 회원가입</a></dd>
                <dd><a href="{% url 'login' %}"><i class="fa fa-sign-in"></i> 로그인</a></dd>
                {% endif %}
            </dl>
        </div>
    </div>
</div>
{% endblock top_bar %}

{% block content %}
<div class="row small-only-text-center">
    <div class="small-12 columns">
        <h1 data-magellan-expedition="home">[메인 카피]온라인 광고심의 컨설팅 및 심의대행 서비스</h1>
        <a name="home">
    </div>
</div>
<div class="row small-only-text-center">
    <div class="small-12 columns">
        <a name="prob"></a>
        <h2 data-magellan-destination="prob">
            <strong>온라인 광고에 대한 리스크가 점점 커지고 있습니다.</strong>
        </h2>
        <img src="https://s3-ap-northeast-1.amazonaws.com/elasticbeanstalk-ap-northeast-1-634758027037/static_images/newspaper.jpg">
    </div>
    <div class="small-12 large-4 columns">
        <fieldset>
            <legend><i class="fa fa-camera-retro fa-5x"></i>신규/버티컬 통신판매업체</legend>
            <ul>
                <li>광고심의 업무 인력 부재에 따른 표시 · 광고 관련 법령 위반 리스크</li>
                <li>법 위반에 따른 규제기관 행정처분, 부정 언론보도 및 브랜드 이미지 타격</li>
            </ul>
        </fieldset>
    </div>
    <div class="small-12 large-4 columns">
        <fieldset>
            <legend><i class="fa fa-cog fa-spin fa-2x"></i>대형 통신판매업체</legend>
            <ul>
                <li>대규모 인력 채용, 고용 유지에 따른 직간접적 비용 문제 </li>
                <li>일간/주간 신규 판매상품 숫자 편차에 따른 인력 운영 이슈</li>
            </ul>
        </fieldset>
    </div>
    <div class="small-12 large-4 columns">
        <fieldset>
            <legend>온라인 광고 규제 카테고리</legend>
            <ul>
                <li>매체의 다양화에 비해 규제 카테고리(식품, 뷰티, 의료 등)의 광고심의 전문 대행사 부재에 따른 관련 법규 위반 리스크 상존</li>
            </ul>
        </fieldset>
    </div>
</div>
<hr>
<div class="row small-only-text-center">
    <div class="small-12 columns">
        <h2 data-magellan-destination="solu">솔루션</h2>
        <a name="solu"></a>
    </div>
    <div class="small-12 large-4 columns">
        <fieldset>
            <legend>
                신규/버티컬: 광고심의 컨설팅
            </legend>
            <ul>
                <li> 광고심의 프로세스 및 어드민 시스템 컨설팅 </li>
                <li> 고객사 교육 및 내부인력 양성 지원 </li>
                <li> 광고심의 업무 대행 </li>
            </ul>
        </fieldset>
    </div>
    <div class="small-12 large-4 columns">
        <fieldset>
            <legend> 대형 통신판매업체: 광고심의 아웃소싱 </legend>
            <ul>
                <li> 종합몰, 소셜커머스 등 대형 통신판매업체 광고심의 업무 대행 아웃소싱</li>
            </ul>
        </fieldset>
    </div>
    <div class="small-12 large-4 columns">
        <fieldset>
            <legend> 온라인 광고 규제 카테고리 광고심의 대행 </legend>
            <ul>
                <li> 식품(식품위생법 및 건강기능식품법), 뷰티(화장품법), 에스테틱(화장품법) 등</li>
            </ul>
        </fieldset>
    </div>
</div>
<div class="row small-only-text-center">
    <a name="valu"></a>
    <div class="small-12 columns">
        <h2>가치제공</h2>
    </div>
    <div class="small-12 large-4 columns">
        <div class="panel">
            <h3>정확성</h3>
            <p>표시 · 광고 규제 준수를 위한 리스크 진단</p>
            <p>컨설팅 및 광고심의 업무 대행 서비스</p>
        </div>
    </div>
    <div class="small-12 large-4 columns">
        <div class="panel">
            <h3>절약</h3>
            <p><strong>비용</strong>: 대규모 인력채용/유지 비용절감</p>
            <p><strong>시간</strong>: 신속한 온디멘드 광고심의 서비스</p>
        </div>
    </div>
    <div class="small-12 large-4 columns">
        <div class="panel">
            <h3>경쟁력 향상</h3>
            <p>고객사의 규제 대응 능력을 통한 리스크 관리 및 기업 경쟁력 향상 도모</p>
        </div>
    </div>
</div>
<div class="row small-only-text-center">
    <div class="small-12 columns">
        <h2>Our Mission</h2>
    </div>
    <div class="small-12 medium-4 columns panel">
        <h3>하나 </h3>
        <p>통신판매업자의 표시·광고 관련 규제 준수를 위한 리스크 진단, 자문 및 광고심의 업무 대행 서비스를 제공한다</p>
    </div>
    <div class="small-12 medium-4 columns panel">
        <h3>두울 </h3>
        <p>고객사의 온라인 표시·광고 관련 규제 대응 능력을 통해 리스크 관리와 기업 경쟁력 향상을 도모한다</p>
    </div>
    <div class="small-12 medium-4 columns panel">
        <h3>세엣 </h3>
        <p>온라인 표시·광고 관련 규제 준수를 통해 소비자에게 바르고 유용한 정보가 제공될 수 있도록 기여한다</p>
    </div>
</div>
{% if not request.user.is_authenticated %}
<a href="{% url "login" %}" class="button">로그인하기</a>
{% endif %}
</br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br></br>
</div>
{% endblock content %}

