{% extends 'base.html' %}
{% load staticfiles %}

{% block foundation_css %}
<link href="{% static "foundation/css/normalize.css" %}" rel="stylesheet"/>
<!-- <link href="{% static "foundation/css/foundation.min.css" %}" rel="stylesheet"/> -->
{% endblock foundation_css %}

{% block custom_css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
{% endblock custom_css %}

{% block react_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.0/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.0/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
<script src="https://cdn.jsdelivr.net/scrollreveal.js/3.1.4/scrollreveal.min.js"></script>


{% endblock react_js %}

{% block title %}애드체크{% endblock title %}
{% block top_bar %}
{% endblock top_bar %}


{% block content %}

<div id="header"></div>

<div class="container1">
  <div class="row">
    <div id="" class="col-xs-12"
      style="background-color:#FFC533;color:#FFFFFF;height:800px;">
      <h1>온라인 광고 관리 감독 강화</h1>
      <img id="img-01" style="z-index: 100; position:absolute; left: 100px; top: 150px;box-shadow: 5px 5px 15px 5px #999999;" src="{% static 'images/news_01.png'%}">
      <img id="img-01" style="z-index: 200; position:absolute; left: 200px; top: 100px;box-shadow: 5px 5px 15px 5px #999999;" src="{% static 'images/news_02.png'%}">
      <img id="img-01" style="z-index: 300; position:absolute; left: 150px; top: 250px;box-shadow: 5px 5px 15px 5px #999999;" src="{% static 'images/news_01.png'%}">
      <img id="img-01" style="z-index: 400; position:absolute; left: 210px; top: 80px;box-shadow: 5px 5px 15px 5px #999999;" src="{% static 'images/news_02.png'%}">
      <img id="img-01" style="z-index: 500; position:absolute; left: 120px; top: 180px;box-shadow: 5px 5px 15px 5px #999999;" src="{% static 'images/news_01.png'%}">
      <img id="img-01" style="z-index: 600; position:absolute; left: 300px; top: 140px;box-shadow: 5px 5px 15px 5px #999999;" src="{% static 'images/news_02.png'%}">
      <!-- <img id="img-01" style="z-index: 700; width: 100%; position:absolute; left: 0px; top: 0px;box-shadow: 5px 5px 15px 5px #999999;" src="{% static 'images/news_03.png'%}"> -->
      <h1 id="head-copy" style="z-index: 700; width: 100%; height: 100%; position:absolute; left:0px; top:0px; background-color: #FFFFFF; color: black"> 귀사의 광고, 안전한가요?</h1>

    </div>
  </div>
</div>

<div id="content1"></div>

<div class="container">
  <div class="row">
    <div id="feature" class="col-xs-12 col-sm-4">
      <div class="panel panel-default">
        <div class="panel-body text-center" style="height: 330px">
          <span style="font-size: 80px; color: #408FDD; margin: 25px" class="glyphicon glyphicon-ok"></span>
          <h1><small>정확성</small></h1>
          <p>표시 · 광고 규제 준수를 위한 리스크 진단</p>
          <p>컨설팅 및 광고심의 업무 대행 서비스</p>
        </div>
      </div>
    </div>
    <div id="feature" class="col-xs-12 col-sm-4">
      <div class="panel panel-default">
        <div class="panel-body text-center" style="height: 330px">
          <span style="font-size: 80px; color: #408FDD; margin: 25px" class="glyphicon glyphicon-usd"></span>
            <h1><small>절약</small></h1>
            <p>대규모 인력채용, 고용유지 비용 절감</p>
            <p>신속하고 정확한 광고심의 온디멘드 서비스</p>
        </div>
      </div>
    </div>
    <div id="feature" class="col-xs-12 col-sm-4">
      <div class="panel panel-default">
        <div class="panel-body text-center" style="height: 330px">
          <span style="font-size: 80px; color: #408FDD; margin: 25px" class="glyphicon glyphicon-stats"></span>
            <h1><small>경쟁력 향상</small></h1>
            <p>고객사의 규제 대응 능력을 통한 리스크 관리</p>
            <p>기업 경쟁력 향상 도모</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div id="feature" class="col-xs-12 col-md-6 col-md-offset-3">
      <h3>메일링 리스트 가입하기</h3>
      <p>서비스 업데이트 소식, 광고 심의 최신동향등을 알려드립니다.</p>
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup" class="panel panel-default">
                <form action="//adcheck.us12.list-manage.com/subscribe/post?u=3e2cd957637e6f6cc7fd04217&amp;id=907b27d9b9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate class="form-inline">
                    <div id="mc_embed_signup_scroll" class="panel-body">
                        <div id="mce-responses">
                            <div id="mce-error-response" style="display:none"></div>
                            <div id="mce-success-response" style="display:none"></div>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_3e2cd957637e6f6cc7fd04217_907b27d9b9" tabindex="-1" value="">
                        </div>
                        <div class="form-group">
                            <label for="mce-FNAME">이름 </label>
                            <input type="text" value="" name="FNAME" id="mce-FNAME" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="mce-EMAIL">이메일 </label>
                            <input type="email" value="" name="EMAIL" id="mce-EMAIL" class="form-control">
                        </div>
                        <div class="small-12 columns">
                            <input type="submit" value="구독하기" name="subscribe" id="mc-embedded-subscribe" class="btn btn-default">
                        </div>
                    </div>
                </form>
            </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-12 well">
      <a href="{% url 'login' %}" class="btn btn-primary btn-lg btn-block">
        로그인 / 회원가입하기
      </a>
    </div>
  </div>
</div>
{% endblock content %}

{% block custom_js %}
<script type="text/babel">

/* 헤더 영역 */
var Header = React.createClass({
  render: function() {
    var imgStyle = { width: 230 }
    var h2Style = { color: '#888888' }
    var jumbotronStyle = {
      backgroundColor: '#FFC533'
    }
    return (
      <div className="container-fluid">
        <div className="jumbotron" style={jumbotronStyle}>
          <div className="container">
            <img style={imgStyle} src="{% static 'images/logo.png' %}" />
            <h2 style={h2Style}>온라인 광고 심의 · 컨설팅</h2>
            {/*
              <h2 style={h2Style}>온라인 광고 심의 컨설팅 / 대행</h2>
            */}
          </div>
        </div>
      </div>
    );
  }
});
ReactDOM.render(
	<Header />,
	document.getElementById('header')
);

/* 콘텐트 1 */
var Active = 'primary';
var Inactive = 'default';
var ButtonOnStyle = {
    borderColor: '#408FDD',
    // borderColor: '#000000',
    padding: 15,
    borderWidth: 1,
    borderTopStyle: 'solid',
    borderRightStyle: 'solid',
    borderBottomStyle: 'none',
    borderLeftStyle: 'solid',
    fontSize: 20,
    backgroundColor: '#EEEEEE',
    textDecoration: 'none'
};
var ButtonOffStyle = {
    // borderColor: '#408FDD',
    borderColor: '#999999',
    padding: 15,
    borderWidth: 1,
    borderTopStyle: 'none',
    borderRightStyle: 'none',
    borderBottomStyle: 'solid',
    borderLeftStyle: 'none',
    fontSize: 20,
    color: '#888888'
};

var Content1 = React.createClass({
  getInitialState: function() {
    return {
      button1Style: ButtonOnStyle,
      button2Style: ButtonOffStyle,
      contentId: '1'
    }
  },
  handleClick: function(e) {
    e.preventDefault();
    if (e.target.getAttribute("data-key") == '1') {
      this.setState({button1Style: ButtonOnStyle,
                     button2Style: ButtonOffStyle,
                     contentId: '1'
                   });
    } else {
      this.setState({button1Style: ButtonOffStyle,
                     button2Style: ButtonOnStyle,
                     contentId: '2'
                   });
    }
  },
  render: function() {
    if (this.state.contentId == '1') {
      var content = <ContentOne />;
    } else {
      var content = <ContentTwo />;
    }
    var containerDivStyle = {marginBottom: 20}
    return (
      <div className="container">
          <div style={containerDivStyle}className="col-cx-12">
            <p>
              <a
                data-key='1' href="#"
                onClick={this.handleClick}
                style={this.state.button1Style}
                >
                신규 / 버티컬  &raquo;
              </a>
              <a
                data-key='2' href="#"
                onClick={this.handleClick}
                style={this.state.button2Style}
                >
                대형 업체 &raquo;
              </a>
            </p>
          </div>
          {content}
      </div>
    );
  }
});

var ContentOne = React.createClass({
  render: function() {
    var contentDivStyle = {height: 150}
    return (
      <div className="row">
        <div className="col-xs-12 col-sm-6">
          <div className="panel panel-danger">
            <div className="panel-heading">
              <h3 className="text-center">문제점</h3>
            </div>
            <div style={contentDivStyle} className="panel-body text-center">
              <h4>광고심의 업무 인력 부재에 따른 표시 · 광고 관련 법령 위반 리스크</h4>
              <h4>법 위반에 따른 규제기관 행정처분,</h4>
              <h4>부정 언론보도 확산 및 브랜드 이미지 타격</h4>
            </div>
          </div>
        </div>
        <div className="col-xs-12 col-sm-6">
          <div className="panel panel-success">
            <div className="panel-heading">
              <h3 className="text-center">해결 방안</h3>
            </div>
            <div style={contentDivStyle} className="panel-body text-center">
              <h4>광고심의 프로세스 및 어드민 시스템 컨설팅</h4>
              <h4>고객사 교육 및 내부인력 양성 지원</h4>
              <h4>광고심의 업무 대행</h4>
            </div>
          </div>
        </div>
      </div>
    );
  }
});

var ContentTwo = React.createClass({
  render: function() {
    var contentDivStyle = {height: 150}
    return (
      <div className="row">
        <div className="col-xs-12 col-sm-6">
          <div className="panel panel-danger">
            <div className="panel-heading">
              <h3 className="text-center">문제점</h3>
            </div>
            <div style={contentDivStyle} className="panel-body text-center">
              <h4>대규모 인력 채용, 고용유지에 따른 직간접적 비용 문제</h4>
              <h4>일간/주간 신규 판매상품 숫자 편차에 따른 인력 운영 이슈</h4>
            </div>
          </div>
        </div>
        <div className="col-xs-12 col-sm-6">
          <div className="panel panel-success">
            <div className="panel-heading">
              <h3 className="text-center">해결 방안</h3>
            </div>
            <div style={contentDivStyle} className="panel-body text-center">
              <h4>종합몰, 소셜커머스 등 대형 통신판매업체 광고심의 업무대행 아웃소싱</h4>
            </div>
          </div>
        </div>
      </div>
    );
  }
});

ReactDOM.render(
	<Content1 />,
	document.getElementById('content1')
);


/* reaveal section */
var fooReveal = {
  origin   : 'left',
  duration : 1000,
  delay    : 200,
  distance : '150px',
  reset    : false,
  easing   : 'ease-in-out',
  rotate   : { y: 9 },
  scale    : 1
};
var fadeIn = {
  origin   : 'left',
  duration : 500,
  delay    : 200,
  distance : '0px',
  reset    : false,
  easing   : 'ease-in-out',
  scale    : 0.9
};
var fadeIn2 = {
  origin   : 'left',
  duration : 500,
  delay    : 4000,
  distance : '0px',
  reset    : false,
  easing   : 'ease-in-out',
  scale    : 0.9
};
var rolling = {
  origin   : 'left',
  duration : 500,
  delay    : 200,
  distance : '1000px',
  reset    : false,
  rotate   : { y: 100, x: 100, z: 1000},
  easing   : 'ease-in-out',
  scale    : 0.9
};

window.sr = ScrollReveal();
sr.reveal('#content1', fooReveal);
sr.reveal('#feature', fadeIn, 200);
sr.reveal('#img-01', rolling, 500);
sr.reveal('#head-copy', fadeIn2, 200);

</script>
{% endblock custom_js %}
