{% extends 'base.html' %}
{% load staticfiles %}

{% block custom_css %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<link href="{% static 'css/index_ver_4.css' %}" rel="stylesheet"/>
{% endblock custom_css %}

{% block top_bar %}
<div id="menu-bar">
  <span class="left-menu">
    <span class="logo">ADcheck</span> 온라인 광고 심의 컨설팅 및 대행사
  </span>
  <div class="right-menu">
    <span><a href="{% url 'register_agree' %}">회원가입</a></span>
    <span> | <span>
    <span><a href="{% url 'login' %}">로그인</a></span>
  </div>
</div>
{% endblock top_bar %}

{% block react_js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.1/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <script src="https://cdn.jsdelivr.net/scrollreveal.js/3.1.4/scrollreveal.min.js"></script>
{% endblock react_js %}

{% block title %}애드체크{% endblock title %}

{% block content %}

<div class="container-1">
  <div class="vertical-center-container">
    <div class="vertical-center-content">
      <h1 id="reveal-fade-in" class="headcopy">소잃기 전에 외양간 고치자!</h1>
      <p id="reveal-fade-in" class="subcopy">당신의 광고 안전 지키미</p>
      <div id="reveal-show-up" class="logo">ADcheck</div>
    </div>
  </div>
</div>

<div class="container-2">
  <div>
    <div class="left-half">
      <div class="left-content" id="reveal-show-right">
        <p class="text-center">
          <img class="left-image" src="{% static 'images/index_ver4_2.png' %}">
          <i class="fa fa-desktop" aria-hidden="true"></i>
          지금도 행정기관의 모니터링은 계속 진행중 입니다.
        </p>
      </div>
    </div>
    <div class="right-half">
      <div class="container-2-right-text">
      {# <div id="reveal-fade-in" class="container-2-right-text"> #}
        <h2 class="text-center">귀사의 광고 안전한가요?</h2>
        <p>&nbsp;</p>
        <p class="text-center">소비자의 민원접수/신고가 용이해지고,</p>
        <p class="text-center">SNS를 통한 부정이슈의 급속한 확산이 가능하기에,</p>
        <p class="text-center">표시∙광고 관련 규제 준수가 더욱 요구됩니다.</p>
      </div>
    </div>
  </div>
</div>

<div class="container-3">
  <div>
    <div class="left-half">
      <div class="left-content" id="reveal-show-right-2">
        <img class="left-image" src="{% static 'images/word_cloud.png' %}" style="opacity: 0.5;" >
      </div>
    </div>

    <div class="right-half" >
    {# <div class="small-12 large-5 columns"> #}
      <div class="container-2-right-text">
        <h3 class="text-center">하나의 광고를 올리기 위해,<br/>얼마나 많은 법령과 제도를<br/>알아야 할까요?</h3>
        <p>&nbsp;</p>
        <div class="box">
          <h5 class="text-center">법률은 변호사에게,</h5>
          <h4 class="text-center">세무는 세무사에게,</h4>
          <h3 class="text-center">광고심의는 <span style="color: #000000; font-weight: bolder">ADcheck</span>에게!</h3>
        </div>
      </div>
    </div>
  </div>  
</div>

<div class="container-4">
  <div class="row">
    <div class="small-12 columns">
      <h1 class="text-center">당신의 고민, ADcheck이 해결해 드립니다!</h1>
      <h2>&nbsp;</h2>
      <div id="content1"></div>
      <br/> 
      <div id="content2"></div>
    </div>
  </div>
</div>

<div class="container-5">
  <div class="row">
    <div id="feature" class="small-12 columns">
      <h1 class="text-center header">지금 바로 애드체크와 함께 하세요.</h1>
      <div class="row">
        <div class="small-12 large-6 columns">
          <h3>회원가입 / 로그인하기</h3>
          <p>연회비 등이 없이 무료로 가입할 수 있습니다.</p>
          <div style="padding-top: 1em;">
            <a href="{% url 'login' %}" class="button success large expand radius"> 로그인 </a>
          </div>
          <div style="padding-top: 1em;">
            <a href="{% url 'register_agree' %}" class="button large expand radius"> 회원가입 </a>
          </div>
        </div>
        <div class="small-12 large-6 columns">
          <h3>메일링 리스트 가입하기</h3>
          <p>서비스 업데이트 소식, 광고 심의 최신동향등을 알려드립니다.</p>
            <!-- Begin MailChimp Signup Form -->
            <div id="mc_embed_signup" class="">
                <form action="//adcheck.us12.list-manage.com/subscribe/post?u=3e2cd957637e6f6cc7fd04217&amp;id=907b27d9b9" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <div id="mce-responses">
                            <div id="mce-error-response" style="display:none"></div>
                            <div id="mce-success-response" style="display:none"></div>
                        </div>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true">
                            <input type="text" name="b_3e2cd957637e6f6cc7fd04217_907b27d9b9" tabindex="-1" value="">
                        </div>
                            <label for="mce-FNAME">이름 </label>
                            <input type="text" value="" name="FNAME" id="mce-FNAME">
                            <label for="mce-EMAIL">이메일 </label>
                            <input type="email" value="" name="EMAIL" id="mce-EMAIL">
                            <input type="submit" value="이메일 리스트 가입하기" name="subscribe" id="mc-embedded-subscribe" class="button info small radius">
                        </div>
                    </div>
                </form>
            </div>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block custom_js %}
<script>
$(document).ready(function(){
    // console.log("reday!");
    if ($(window).width() > 771) {
        // console.log("bigger than 771!");
        $(window).scroll(function(){
            if ($(this).scrollTop() > 200) {
                // console.log("scroll bigger than 200");
                $('#menu-bar').fadeOut(500);
            } else {
                $('#menu-bar').fadeIn(500);
            }
        });
    }
    else {
        $('#menu-bar').css('visibility', 'hidden');
    }
});
</script>
<script type="text/babel" src="{% static 'js/index_4_compiled.js' %}"></script>

<script>
/* reaveal section */
var fadeIn = {
  // origin   : 'center',
  duration : 700,
  distance : '0px',
  delay    : 700,
  reset    : false,
  easing   : 'ease-in-out',
};

const showUp = {
  origin   : 'bottom',
  duration : 500,
  distance : '200px',
  delay    : 1200,
  reset    : false,
  easing   : 'ease-in-out',
  scale    : 1.0
};

const showRight = {
  origin   : 'left',
  duration : 700,
  delay    : 500,
  distance : '100px',
  reset    : false,
  easing   : 'ease-in-out',
  scale    : 0.9
};
var rolling = {
  origin   : 'bottom',
  duration : 500,
  delay    : 200,
  distance : '1000px',
  reset    : false,
  rotate   : { y: 100, x: 100, z: 1000},
  easing   : 'ease-in-out',
  scale    : 0.9
};

window.sr = ScrollReveal();
sr.reveal('#reveal-fade-in', fadeIn);
sr.reveal('#reveal-show-up', showUp, 500);
sr.reveal('#reveal-show-right', showRight, 500);
sr.reveal('#reveal-show-right-2', fadeIn);

</script>
{% endblock custom_js %}
