{% extends "base.html" %}

{% block title %}로그아웃 되었습니다.{% endblock title %}

{% block content %}
<div class="row">
  <div class="small-12 columns">
    <h1>로그아웃 되었습니다.</h1>
    <p>정상적으로 로그아웃 하셨습니다. <a href="{% url "login" %}">다시 로그인</a>하실 수 있습니다.</p>
  </div>
</div>
{% endblock content %}