{% extends "base.html" %}

{% block title %}로그인{% endblock title %}

{% block content %}
<div class="row">
    <div class="small-12 medium-6 columns">
        <h1>로그인</h1>

        {% if form.errors %}
            <p>아이디와 비밀번호를 확인해 주세요.</p>
        {% else %}
            <p>로그인 해주세요.</p>
        {% endif %}

        <div class="login-form">
            <form action="{% url 'login' %}" method="post">
                {# {{ form.as_p }} #}
                <p>
                    {{ form.non_field_errors }}
                    {{ form.username.errors }}
                    <label for="{{ form.username.id_for_label }}">아이디:</label>
                    {{ form.username }}
                </p>
                <p>
                    {{ form.password.errors }}
                    <label for="{{ form.password.id_for_label }}">비밀번호</label>
                    {{ form.password }}
                </p>
                {% csrf_token %}
                <input type="hidden" name="next" value="{{ next }}" />
                <input class="button" type="submit" value="로그인" />
            </form>
            <p><a href="{% url 'password_reset' %}">비밀번호를 잊으셨나요?</a></p>
            <p><a href="{% url 'register_agree' %}">회원가입하기</a></p>
        </div>
    </div>
</div>

{% endblock content %}
