{% extends "base.html" %}

{% block title %}비밀번호 재설정하기{% endblock title %}

{% block content %}
    <h1>비밀번호 재설정하기</h1>
    {% if validlink %}
        <p>새로운 비밀번호를 두번 입력해 주세요.</p>
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="비밀번호 변경하기"></p>
        </form>
    {% else %}
        <p>유효하지 않은 비밀번호 재설정 링크입니다.</p>
        <p>이미 사용된 링크일 수도 있습니다.</p>
        <p>다시 시도해 주시기 바랍니다.</p>
    {% endif %}
{% endblock content %}