{% extends "base.html" %}

{% block title %}비밀번호 변경하기{% endblock title %}

{% block content %}
    <h1>비밀번호 변경하기</h1>
    <p>비밀번호를 변경하시려면 아래의 내용을 입력해 주세요.</p>
    <form action="." method="post">
        {{ form.as_p }}
        <p><input type="submit" value="변경하기"></p>
        {% csrf_token %}
    </form>
{% endblock content %}
