{% extends "base.html" %}

{% block title %}비밀번호 재설정하기{% endblock title %}

{% block content %}
    <h1>비밀번호 재설정하기</h1>
    <p>비밀번호 재설정 방법을 이메일로 보내드렸습니다.</p>
    <p>이메일을 오지 않는 경우, 가입시에 입력한 이메일인지 확인해 주시거나, 스펨메일함을 확인해 주세요.</p>
    
{% endblock content %}