{% extends "base.html" %}

{% block title %}비밀번호 재설정하기{% endblock title %}

{% block content %}
    <h1>비밀번호를 잊어버렸나요?</h1>
    <p>새로운 비밀번호를 설정하려면, 가입에 사용하신 이메일주소를 입력해 주세요.</p>
    <form action="." method="post">
        {{ form.as_p }}
        <p><input type="submit" value="이메일 보내기"></p>
        {% csrf_token %}
    </form>
{% endblock content %}