{% extends "base.html" %}

{% block title %}비밀번호 재설정하기{% endblock title %}

{% block content %}
    <h1>재설정 완료</h1>
    <p>비밀번호 재설정이 완료되었습니다.</p>
    <p><a href="{% url "login" %}">로그인</a> 해주세요.</p>
{% endblock content %}