{% extends "base.html" %}
{% load staticfiles %}

{% block title %}React Test Page{% endblock title %}

{% block react_js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
{# <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script> #}
{# <script src="https://cdnjs.cloudflare.com/ajax/libs/marked/0.3.5/marked.min.js"></script> #}
{% endblock react_js %}

{% block content %}
<div class="row">
  <div class="small-12 columns">
    <!-- <h1>시간 예재</h1> <div id="whatTime"> </div>
    <a href="http://webframeworks.kr/getstarted/reactjs/#tocAnchor-1-6">http://webframeworks.kr/getstarted/reactjs/#tocAnchor-1-6</a>
    <h1>Comment Box</h1> <div class="row" id="commentBox"></div>
    <h1>Class로 선언하기</h1> <div id="hello"></div>
    <a href="http://webframeworks.kr/tutorials/react/components-and-lifecycle/">http://webframeworks.kr/tutorials/react/components-and-lifecycle/</a> -->
    <div id="content_2"></div>
    <div id="content_3"></div>
    <div id="content_4"></div>
  </div>
</div>

<script type="text/babel" src="{% static "js/test.js" %}"></script>

<script type="text/babel">
// To get started with this tutorial running your own code, simply remove
// the script tag loading scripts/example.js and start writing code here.
</script>
{% endblock content %}
