{% extends "base.html" %}
{% load staticfiles %}

{% block title %}광고 컨텐츠 상세조회: {{ item.title }}{% endblock title %}

{% block react_js %}
  {# <script src="https://fb.me/react-15.0.0-rc.1.min.js"></script> #}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
{% endblock react_js %}

{% block content %}
<div class="row">
  <div class="small-12 columns">
    <h4>심의정보</h4>
    <table>
      <tr>
        <th width="100px">광고 제목</th> <td>{{ item.title }}</td>
      </tr>
      <tr>
        <th>심의 상태</th> <td><span class="{{ item.status_name.3 }} label">{{ item.status_name.0 }}</span> {{ item.status_name.4 }}</td>
      </tr>
      {% if request.user.profile.user_level == 'client' and item.review %}
      <tr>
        <th>심의 문구</th> <td>{{ item.review.text|linebreaksbr }}</td>
      </tr> <tr>
        <th>위반 사항</th> <td>{{ item.review.disqulification_text|linebreaksbr }}</td>
      </tr>
      {% endif %}
      <tr>
        <th>등록일</th> <td>{{ item.created }}</td>
      </tr> <tr>
        <th>수정일</th> <td>{{ item.modified }}</td>
      </tr> <tr>
        <th>제품링크</th> <td><a href="{{ item.url }}" target="_blank">{{ item.url }}</a></td>
      </tr> <tr>
        <th>제품 설명</th> <td>{{ item.description|linebreaksbr }}</td>
      </tr>
    </table>
  </div>
</div>
<style> textarea {overflow:visible} </style>
{% for image in item.images.all %}
<div class="row">
  <div class="small-8 columns">
    {# <p>#{{ forloop.counter }}</p> #}
    <img src="{{ image.image.url }}">
    {# <p><small>{{ image.image.name }}</small></p> #}
    {# <p><small>{{ image.id }}</small></p> #}
  </div>

  {# 댓글 영역 시작 #}
  <div class="small-4 columns">
  {% if request.user.profile.user_level == 'reviewer' or request.user.profile.user_level == 'staff' %}
    {# 리엑트 댓글 시작 (리뷰어나 관리자일 경우에만 노출) #}
    <div class="row" name="comment" data-itemId="{{ item.id }}" data-imageId="{{ image.id }}" id="react_comment_{{ image.id }}"></div>
    {# 리엑트 댓글 끝 #}
  {% else %}
    {# django 댓글 리스트 시작 #}
    <div class="row">
      <div class="small-12 columns panel comment-table-{{ image.id }}">
        {% for comment in image.comments.all %}
        <small>
          {# 고객의 입장에서는 작성자와 아이디의 노출이 필요없음 #}
          {# 관리자의 입장에서는 입장에서는 작성자와 아이디의 노출이 필요함 #}
          {# <span class="label success">No: {{ comment.id }}<br></span> #}
          <span class="label">작성:{{ comment.created|date:"SHORT_DATETIME_FORMAT" }} </span>
          <span class="label success">수정:{{ comment.modified|date:"SHORT_DATETIME_FORMAT" }} </span>
        </small>
        <br>
        <span id="comment_id_{{ comment.id }}">{{ comment.text|linebreaks }}</span>
        <hr>
        {% empty %}
        <p>코멘트가 없습니다.</p>
        {% endfor %}
      </div>
    </div>
    {# django 댓글 리스트 끝 #}
  {% endif %}
  </div>
  {# 댓글 영역 끝 #}

</div>
<hr>
{% empty %}
<div class="row">
  <div class="small-12 columns">
    <h3>등록된 이미지가 없습니다.</h3>
    <a href="#"><p>심의 수정하기</p></a>
  </div>
</div>
{% endfor %}

{# 리뷰어/관리자의 경우 심의 평가하기 내용이 노출되는 영역 #}
{% with level=request.user.profile.user_level %}
  {% if level == 'staff' or level == 'reviewer' %}
  <div class="row">
    <div class="small-12 columns panel callout">
      <form action="{% url 'item:review_update' item.id %}" method="post">
        {# {{ is_new }} #}
        {# <form action="#" method="post"> #}
        {{review_form.as_p}}
        {% csrf_token %}
        <input class="large success round button" type="submit" value="심의완료하기">
      </form>
    </div>
  </div>
  {% endif %}
{% endwith %}
{% endblock content %}

{% block custom_js %}

<script src="http://cdn.jsdelivr.net/jquery.cookie/1.4.1/jquery.cookie.min.js"></script>
{# React.js 댓글 #}
<script type="text/babel" src="{% static 'js/imagecommentbox.jsx' %}">
</script>

{% endblock custom_js %}
