{% extends "base.html" %}
{% load staticfiles %}

{% block title %}ADcheck > 상세: {{ item.title }}{% endblock title %}

{% block react_js %}
  {# <script src="https://fb.me/react-15.0.0-rc.1.min.js"></script> #}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.14.7/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/redux/3.3.1/redux.js"></script>
  <script src="https://npmcdn.com/react-redux@4.4.1/dist/react-redux.js"></script>
  {# <script src="https://cdnjs.cloudflare.com/ajax/libs/redux/3.3.1/redux.min.js"></script> #}

{% endblock react_js %}

{% block custom_css %}
<link rel="stylesheet" href="{% static "ajaxuploader/css/fileuploader.css" %}">    
{% endblock custom_css %}


{% block content %}
<div class="row">
  <div class="small-12 columns">
    <h4>심의정보</h4>
    <table>
      <tr>
        <th width="100px">광고 제목</th> <td>{{ item.title }}</td>
      </tr>
      <tr>
        <th>심의 상태</th> <td><span class="{{ item.status_name.3 }} label">{{ item.status_name.0 }}</span> {{ item.status_name.4 }}</td>
      </tr>
      {% if request.user.profile.user_level == 'client' and item.review %}
      <tr>
        <th>심의 문구</th> <td>{{ item.review.text|linebreaksbr }}</td>
      </tr> <tr>
        <th>위반 사항</th> <td>{{ item.review.disqulification_text|linebreaksbr }}</td>
      </tr>
      {% endif %}
      <tr>
        <th>등록일</th> <td>{{ item.created }}</td>
      </tr> <tr>
        <th>수정일</th> <td>{{ item.modified }}</td>
      </tr> <tr>
        <th>제품링크</th> <td><a href="{{ item.url }}" target="_blank">{{ item.url }}</a></td>
      </tr> <tr>
        <th>제품 설명</th> <td>{{ item.description|linebreaksbr }}</td>
      </tr>
    </table>
  </div>
</div>

<div id="end-container" data-itemId="{{ item.id }}"
{% if request.user.profile.user_level != 'client' %} data-isReadOnly="false"{% endif %}
{% if request.user == item.user %} data-isOwner="true"{% endif %}
></div>


{# 작성자: {{ item.user }} <br /> 로그인: {{ request.user }} #}
{% if request.user == item.user %}
<div class="row">
  <div class="small-12 columns callout panel">
    <h3>광고 이미지 추가하기</h3>
    <form
      id="upload-images"
      action="{% url 'item:end_addimages' item.id %}"
      method="post"
      enctype="multipart/form-data"
    >
      <div class="row">
        <div class="small-12 large-12 columns panel">
          <h4>Step 1. 추가할 이미지들을 선택해 주세요.</h4>
            {{ new_image_form }}
            {% csrf_token %}
            {% include 'item/upload_template.html' %}
        </div>
        <div class="small-12 large-12 columns panel">
          <h4>Step 2. 이미지 추가하기 버튼을 눌러주세요.</h4>
          <input class="button" type="submit" value="이미지 추가하기">
        </div>
      </div>
      {# <p>파일의 추가 선택 / 삭제가 가능합니다.</p> #}
      {# <div class="small-12 columns"> #}
      {# <p><input class="button" type="submit" value="이미지 추가하기"></p> #}
      {# </div> #}
    </form>
  </div>
  <div class="small-12 columns callout panel">
    <h3>증빙자료 첨부하기</h3>
    <form
      id="upload-files"
      action="{% url 'item:end_addfiles' item.id %}"
      method="post"
      endtype="multipart/form-data"
    >
      <div class="row">
        <div class="small-12 large-12 columns panel">
          <h4>1. 첨부할 파일들을 선택해 주세요.</h4>
          <dl>
            <dt>광고심의필증:</dt>
            <dd>건강기능식품, 특수용도식품의 경우 사전광고심의필증 및 심의 광고물을 함께 첨부해주세요.</dd>
            <dt>기타 구비서류:</dt>
            <dd>화장품 기능성 심사보고서, 의약외품 품목허가서, 인증 관련 증빙자료 등</dd>
          </dl>
          {{ new_image_form }}
          {% csrf_token %}
          {% include 'item/upload_template.html' %}
        </div>
        <div class="small-12 large-12 columns panel">
          <h4>2. 자료 추가하기 버튼을 눌러주세요.</h4>
          <p><input class="button" type="submit" value="자료 추가하기"></p>
          <dl>
            <dt>첨부된 파일들</dt>
            {% for file in item.attached_files.all %}
            <dd><a href="{{file}}"> {{ file.filename }}</a>
            {# <a class="label alert" href="#">첨부화일 삭제</a></dd>  #}
            {% empty %}
              <span>첨부된 파일이 없습니다.</span>
            {% endfor %}
          </dl>
        </div>
      </div>
    </form>
  </div>
  <div class="small-12 columns callout panel">
    <a
      href="{% url 'item:end_image_order' item.id %}"
      class="button warning"
    >이미지 순서 변경하기</a>
  </div>
</div>

{% else %}
  {# <p>당신은 이 글의 작성자가 아닙니다.</p> #}
{% endif %}


{# 리뷰어/관리자의 경우 심의 평가하기 내용이 노출되는 영역 #}
{% with level=request.user.profile.user_level %}
  {% if level == 'staff' or level == 'reviewer' %}
  <div class="row">
    <div class="small-12 columns panel callout">
      <form action="{% url 'item:review_update' item.id %}" method="post">
        {# {{ is_new }} #}
        {# <form action="#" method="post"> #}
        {{review_form.as_p}}
        {% csrf_token %}
        <input class="large success round button" type="submit" value="심의완료하기">
      </form>
    </div>
  </div>
  {% endif %}
{% endwith %}

{% endblock content %}

{% block custom_js %}
<script type="text/babel" src="{% static 'js/end.js' %}"></script>
<script src="{% static "ajaxuploader/js/fileuploader.js" %}"></script>
<script src="{% static "file_form/file_form.js" %}"></script>
<script>
$(function() {
    initUploadFields(
      $('#upload-images'),
      {
        validation: {
          acceptFiles: 'image/*',
          sizeLimit: 10000000
        }
      }
    );
    initUploadFields(
      $('#upload-files'),
      {
        validation: {
          sizeLimit: 10000000
        }
      }
    );
});
</script>

{% endblock custom_js %}
