{% extends "base.html" %}
{% load staticfiles %}

{% block title %}ADcheck > 이미지 순서 변경 페이지{% endblock title %}

{% block react_js %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.0/react.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.0.0/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/redux/3.3.1/redux.js"></script>
  <script src="https://npmcdn.com/react-redux@4.4.1/dist/react-redux.js"></script>
  <script src="https://npmcdn.com/redux-thunk@2.0.1/dist/redux-thunk.min.js"></script>
{% endblock react_js %}

{% block custom_css %}{% endblock custom_css %}

{% block content %}
<div class="row">
  <div class="small-12 columns">
    <div id="image-list"></div>
    <div id="end-container" data-itemId="{{ item_id }}"></div>
    <a href="{% url 'item:detail' item_id %}" class="button">뒤로 이동</a>
  </div>
</div>
{% endblock content %}

{% block custom_js %}
<script>
$(function() {

});
</script>
<script type="text/babel" src="{% static 'js/end_image_order.js' %}"></script>
{% endblock custom_js %}
