{% extends "base.html" %}

{% block title %}나의 광고 심의 내역{% endblock title %}

{% block content %}
<div class="row">
    <div class="small-12">
        <h2>내가 리뷰를 한 광고</h2>
        <table>
            <thead>
                <th>id</th>
                <th>진행 상황</th>
                <th>광고주명 </a> </th>
                <th>광고 제목</th>
                <th>등록일시</th>
                <th>업데이트</th>
            </thead>
            {% for aitem in review_list %}
                <tr>
                    <td>{{ aitem.id }}</td>
                    <td>
                        <span class="{{ aitem.status_name.3 }} label">{{ aitem.status_name.0 }}</span>
                    </td>
                    <td>
                        {{ aitem.user.first_name }}
                    </td>
                    <td>
                        <a href="{% url 'item:detail' aitem.id %}">{{ aitem }}</a>
                    </td>
                    <td> {{ aitem.created|date:"Y-m-d H:m" }} </td>
                    <td> {{ aitem.modified|timesince }} 전 </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="small-12">
        <h2>내가 코멘트를 단 광고</h2>
        <table>
            <thead>
                <th>id</th>
                <th>진행 상황</th>
                <th>광고주명 </a> </th>
                <th>광고 제목</th>
                <th>등록일시</th>
                <th>업데이트</th>
            </thead>
            {% for aitem in comment_list %}
                <tr>
                    <td>{{ aitem.id }}</td>
                    <td>
                        <span class="{{ aitem.status_name.3 }} label">{{ aitem.status_name.0 }}</span>
                    </td>
                    <td>
                        {{ aitem.user.first_name }}
                    </td>
                    <td>
                        <a href="{% url 'item:detail' aitem.id %}">{{ aitem }}</a>
                    </td>
                    <td> {{ aitem.created|date:"Y-m-d H:m" }} </td>
                    <td> {{ aitem.modified|timesince }} 전 </td>
                </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock content %}