{% extends "base.html" %}
{% load staticfiles %}


{% block title %}광고 컨텐츠 등록하기{% endblock title %}

{% block custom_css %}
<link rel="stylesheet" href="{% static "ajaxuploader/css/fileuploader.css" %}">    
{% endblock custom_css %}

{% block content %}
<div class="row">
    <div class="small-12 columns">
        <h1>광고 컨텐츠 등록하기</h1>
        <p>아래의 항목을 입력해 주세요.</p>
    </div>
    <form
        id="upload-images"
        action="."
        method="post"
        enctype="multipart/form-data"
    >
        <div class="small-12 large-6 columns">
        <h2>아이템 정보</h2>
        {{ item_form.as_p }}
        </div>
    <div class="small-12 columns">
        <h2>이미지 등록</h2>
        <p>복수개의 이미지를 선택가능합니다.</p>
        {# <input type="file", name="img", multiple> #}
        {# {{ image_form.as_p }} #}
        {{ new_image_form }}
        {% csrf_token %}
        {% include 'item/upload_template.html' %}
        <p>파일의 추가 선택 / 삭제가 가능합니다.</p>
    </div>
    <div class="small-12 columns">
        <p><input class="button" type="submit" value="저장하기"></p>
    </div>
    </form>
</div>
{% endblock content %}

{% block custom_js %}
<script src="{% static "ajaxuploader/js/fileuploader.js" %}"></script>
<script src="{% static "file_form/file_form.js" %}"></script>
<script>
$(function() {
    initUploadFields(
      $('#upload-images'),
      {
        validation: {
          acceptFiles: 'image/*',
          sizeLimit: 10000000
        }
      }
    );
});
</script>
{% endblock custom_js %}
