{% extends "base.html" %}

{% block title %}광고 컨텐츠 등록완료{% endblock title %}

{% block content %}
<div class="row">
    <div class="small-12 columns">
        <h1>광고 컨텐츠 등록이 완료되었습니다.</h1>
    </div>
    <div class="small-12 large-6 columns">
        <h2>아이템 정보</h2>
        <p> created: {{ new_item.created }} </p>
        <p> user: {{ new_item.user }} </p>
        <p> title: {{ new_item.title }} </p>
        <p> 내용: {{ new_item.description }} </p>
        <p> url: {{ new_item.url }} </p>
        <p> modifed: {{ new_item.modified }} </p>
        {% for image in new_item.images.all %}
            <img src="{{ image.image.url }}">
            
        {% endfor %}
    </div>
</div>
{% endblock content %}