{% extends "base.html" %}

{% block title %}
    {{ request.user.profile.user_level }}
    | 리뷰 업데이트 확인 페이지
{% endblock title %}

{% block content %}
<div class="row">
    <div class="small-12">
    <h1>아래와 같이 업데이트 되었습니다.</h1>
        <p>광고 진행상황: <span class="{{ aitem.status_name.3 }} label">{{ aitem.status_name.0 }}</span></p>
        <p>심의 총평: {{ review.text }}</p>
        <p>이슈 분류 코드: {{ review.disqulification }}</p>
    </div>

    <div class="small-12 columns panel">
    {% if request.user.profile.user_level == 'reviewer' %}
        <a href="{% url 'item:detail' item_id %}" class="button">광고 상세페이지로 돌아가기</a>
    {% endif %}
        <a href="{% url 'item:review_list' %}" class="button">리스트로 이동하기</a>
    </div>

    {% if request.user.profile.user_level == 'staff' %}
    <div class="small-6 columns panel callout">
        <h2>심의 승인 하기</h2>
        <ul>
            <li>
                <a href="{% url 'item:review_complete' item_id=item_id status_code=6 %}" class="success button">6. 심의완료됨-승인</a>
            </li>
            <li>
                <a href="{% url 'item:review_complete' item_id=item_id status_code=7 %}" class="warning button">7.심의완료됨-조건부승인</a>
            </li>
            <li>
                <a href="{% url 'item:review_complete' item_id=item_id status_code=8 %}" class="alert button">8.심의완료됨-광고불가</a>
            </li>
        </ul>
    </div>
    <div class="small-6 columns panel callout">
        <ul>
            <h2>심의 반려 하기</h2>
            <p>(리뷰어의 심의 내용에 이상이 있어서 리뷰어의 재심의를 요청하는 것)</p>
            <li>
                <a href="{% url 'item:review_complete' item_id=item_id status_code=5 %}" class="alert button">'5.심의확인-반려됨' 으로 변경하기</a>
            </li>
        </ul>
        {% endif %}
    </div>
</div>


    
{% endblock content %}