{% extends "base.html" %}

{% block title %}[{{ request.user.profile.user_level }}] 심의 리스트{% endblock title %}

{% block content %}
{% if request.user.profile.user_level == 'staff' or request.user.profile.user_level == 'reviewer' %}
<div class="row">
    <div class="small-12">
        <h2>광고 목록</h2>
        {% if status != None and status != 'None' %}
            상황 필터: {{ status }}
            <a href="{% url "item:review_list" %}?status=None&user={{ user }}"> 필터 초기화 </a>
        {% endif %}
        {% if user != None and user != 'None' %}
            사용자 필터: {{ user }}
             <a href="{% url 'item:review_list' %}?status={{ status }}&user=None"> 필터 초기화 </a>
        {% endif %}
        {% if status or user %}
            <a href="{% url 'item:review_list' %}">모든 필터 초기화</a>
            
        {% endif %}

        <table>
            <thead>
                <th>id</th>
                <th>진행 상황</th>
                <th>광고주명 </a> </th>
                <th>광고 제목</th>
                <th>등록일시</th>
                <th>업데이트</th>
            </thead>
            {% for aitem in item_list %}
            {# {% for aitem in item_list|dictsort:"created" %} #}
            {# {% for aitem in item_list|dictsort:"status" %} #}
            <tr>
                <td>{{ aitem.id }}</td>
                <td>
                    <a href="{% url 'item:review_list' %}?status={{ aitem.status }}&user={{ user }}">
                        <span class="{{ aitem.status_name.3 }} label">{{ aitem.status_name.0 }}</span> </a> </td>
                <td>
                    <a href="{% url 'item:review_list' %}?status={{ status }}&user={{ aitem.user }}">
                        {{ aitem.user.first_name }} </a> </td>
                <td> <a href="{% url 'item:detail' aitem.id %}">{{ aitem }}</a> </td>
                <td> {{ aitem.created|date:"Y-m-d H:m" }} </td>
                <td> {{ aitem.modified|timesince }} 전 </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% else %}
<div class="row"><div class="small-12 columns"><h1>접근 권한이 없습니다.</h1>
<a href="{% url 'dashboard' %}">대시보드로 이동하기</a>
</div></div>

{% endif %}
    
{% endblock content %}