{% extends "base.html" %}

{% block title %}대시보드{% endblock title %}

{% block content %}
<div class="row">
    
<div class="small-12 columns">
    {% if request.user.is_authenticated %}
        {% with level=request.user.profile.user_level name=request.user.first_name %}
        <h1>대시보드</h1>
            {% if level == 'client' %}
                <p>{{ name }} 광고주 회원님 안녕하세요.</p>
                <a class="button success" href="{% url 'item:new' %}">광고 심의 요청하기</a>
            {% elif level == 'staff'%}
                <p>{{ name }} 스태프님 안녕하세요!!</p>
                <a class="button success" href="{% url 'item:review_list' %}">광고 심의 / 승인하기</a>
            {% elif level == 'reviewer' %}
                <p>{{ name }} 리뷰어님 안녕하세요!!</p>
                <a class="button success" href="{% url 'item:review_list' %}">광고 심의하기</a>
            {% elif level == 'ongoing' %}
                <p>현재 가입승인중입니다. 조금만 기다려 주세요.</p>
            {% elif level == 'reviewer' %}
                <p>가입 승인이 반려되었습니다. 회원정보를 다시 확인 및 수정해 주세요.</p>
            {% endif %}
        {% endwith %}
        <p><a href="{% url 'edit' %}">회원정보 수정하기</a></p>
    {% endif %}
</div>
<div class="small-12 columns">
    <h2>광고 목록</h2>
    <table>
        <thead>
            <th>진행 상황</th>
            <th>광고 제목</th>
            <th>등록일시</th>
            <th>업데이트</th>
            <th>기능</th>
        </thead>
        {% for aitem in user.items.all %}
        <tr>
            <td>
                <span class="{{ aitem.status_name.2 }} label">{{ aitem.status_name.1 }}</span>
            </td>
            <td>
                {% if aitem.status == '2' or aitem.status == '3' or aitem.status == '4' or aitem.status == '5' %}
                    {{ aitem }}
                {% else %}
                    <a href="{% url 'item:detail' aitem.id %}">{{ aitem }}</a></td>
                {% endif %}
            <td>{{ aitem.created|date:"Y-m-d H:m" }}</td>
            <td>{{ aitem.modified|timesince }} 전</td>
            <td>
                {% with level=request.user.profile.user_level %}
                    {# {{ level }} / {{aitem.status}} #}
                    {% if level == 'client' %}
                        {% if aitem.status == '0' or aitem.status == '1' %}
                            <a href="#" class="warning">수정하기</a>
                        {% endif %}
                        {# <a href="#" class="round alert label"> 삭제하기 </a> #}
                    {% endif %}
                {% endwith %}
            </td>
        </tr>
        {% endfor %}
    </table>
</div>
</div>

{% endblock content %}