{% extends "base.html" %}

{% block title %}계정 정보 수정{% endblock title %}

{% block content %}
<div class="row">
    <div class="small-12 columns">
        <h1>계정 정보 수정</h1>
        <p>아래의 정보를 수정해 주세요.</p>
    </div>
    <form action="." method="post" enctype="multipart/form-data">
        <div class="small-12 large-6 columns">
        <h2>계정정보</h2>
        {{ user_form.as_p }}
        </div>
    <div class="small-12 large-6 columns">
        <h2>회사정보</h2>
        {{ profile_form.as_p }}
        {% csrf_token %}
        <p><input class="button" type="submit" value="저장하기"></p>
    </form>
    </div>
</div>
{% endblock content %}