{% extends "base.html" %}

{% block title %} 로그인 {% endblock title %}

{% block content %}
	<h1>로그인</h1>
	<p>로그인 해주세요.</p>
	<form action="." method="post">
		{{ form.as_p }}
		{% csrf_token %}
		<p><input type="submit" value="로그인"></p>
	</form>
{% endblock content %}