{% extends "base.html" %}

{% block title %}환영합니다.{% endblock title %}

{% block content %}
<div class="row">
    <div class="small-12">
        <h1>{{ new_user.first_name }}님 환영합니다!</h1>
        <p>회원가입이 완료되었습니다. <a href="{% url "login" %}">로그인</a>해주세요.</p>
    </div>
</div>
{% endblock content %}