{% extends "base.html" %}

{% block title %}회원가입{% endblock title %}

{% block content %}
<div class="row">
    <div class="small-12">
        <h1>회원가입</h1>
    </div>
{% if agreed != True  %}
    <div class="small-12">
        <h2>먼저 이용약관에 동의해 주세요.</h2>
        <a class="button" href="{% url 'register_agree' %}">동의 페이지로 이동</a>
    </div>
{% else %}
    <div class="panel">
        <p>아래의 내용을 입력해 주세요.</p>
        <form action="{% url 'register' %}" method="post">
            {{ user_form.as_p }}
            {{ profile_form.as_p }}
            {% csrf_token %}
            <p><input class="button" type="submit" value="회원가입"></p>
        </form>
    </div>
{% endif %}
</div>
{% endblock content %}
