{% extends "base.html" %}

{% block title %}회원가입{% endblock title %}

{% block content %}
<div class="row">
    <div class="small-12">
        <h1>회원가입</h1>
    </div>
    <form class="agree" action="." method="post">
        <div class="small-12 medium-6 columns panel">
            <h2><small>이용약관 동의</small></h2>
            <div style="height: 130px; border: 1px solid #c4c4c4; overflow: auto;
            ">
                {% include "account/service.html" %}
            </div>
            {{ service_agree_form.as_p }}
        </div>
        <div class="small-12 medium-6 columns panel">
            <h2><small>개인정보 수집 및 이용 동의</small></h2>
            <div style="height: 130px; border: 1px solid #c4c4c4; overflow: auto;
            ">
                {% include "account/service.html" %}
            </div>
            {{ policy_agree_form.as_p }}
        </div>
        {% csrf_token %}
        <p><input class="button" type="submit" value="다음"></p>
    </form>
</div>
{% endblock content %}
