<div>
<p><strong>[AdCehck 온라인심의 및 필증교부 시스템 이용약관]</strong></p>
<dl>
    <dt>1.목적</dt>
    <dd>한국광고자율심의 기구에서 운영하는 온라인 심의 서비스("이하 서비스") 는 이 약관에 동의한 이용자들에게 무료로 제공되는 서비스입니다. <br>기업회원이 온라인심의 시스템의 본 이용 약관의 "동의함" 버튼을 누르면 이 약관에 동의하는 것으로 간주됩니다.<br>본 약관에 명시되지 않은 항목은 일반회원 가입약관에 준하여 적용됩니다.</dd>
    <dt>2.회원정보</dt>
    <dd>   AdCehck는 기업회원사 및 신청인 정보를 집단적인 형태로 사용할 수는 있지만 각 기업회원 및 신청인 개인 정보는, 회원사 및 신청자가 불법적이거나 기타 다른 불온한 문제를 일으킨 경우를 제외하고, 회원사 및 신청자의 동의 없이는 공개하지 않습니다.<br> AdCehck 서비스 운영에 피해를 주거나 타인에게 피해를 주고 미풍양속을 해치는 행위를 한 회원사 및 신청자의 아이디와 관련 정보는 삭제될 수 있습니다.</dd>
    <dt>3.약관의 수정</dt>
    <dd>AdCehck는 본 약관을 변경할 수 있으며 변경된 약관은 서비스 화면에 게재하거나 기타 다른 방법으로 회원사 및 신청인에게 공지함으로써 효력을 발생합니다.</dd>
    <dt>4.AdCehck 서비스의 수정</dt>
    <dd>AdCehck는 불가피한 사정으로 인하여 서비스를 수정하거나 중단 할 수 있습니다.</dd>
    <dt>5. 온라인 심의 신청 및 심의 필증의 내용</dt>
    <dd>AdCehck는 기업회원 정보 및 신청자의 신청내용, 상담 내용을 타인에게 공개하지 않습니다.<br> 해당되는 심의신청서 및 조건부 이행 신청서의 내용, 상담 내용에 대한 작성에 대한 책임은 각 이용자에게 있습니다. <br>기업회원 및 신청자의 허가를 받지 않고서는 AdCehck 웹사이트를 이용하여 타인에게 피해를 주거나 미풍양속을 해치는 행위를 해서는 안됩니다.<br>전기통신법 제53조와 전기통신사업법 시행령 16조(불온통신), 통신사업법 제53조3항에 의거, AdCehck를 이용하여 불온한 내용을 게시, 전송함으로써 발생하는 모든 법적인 책임은 '아이디 이용자'에게 있으며 AdCehck 서비스를 제공하는 AdCehck는 책임지지 않습니다. <br>본 서비스를 이용하여 타인에게 피해를 주거나 미풍양속을 해치는 행위를 하신 분의 아이디와 정보는 보호 받을 수 없습니다.</dd>
</dl>
</div>